mysql-connector-python
python-docx
fastapi
uvicorn
pandas
openpyxl
requests
chromadb
python-dotenv
fastapi
uvicorn
email-validator
pandas
openpyxl
chromadb
ollama
python-jose[cryptography]
passlib[bcrypt]
pydantic
bcrypt
google-generativeai