mysql-connector-python
python-docx
fastapi
uvicorn
pandas
openpyxl
requests
chromadb
python-dotenv
email-validator
ollama
python-jose[cryptography]
passlib[bcrypt]
pydantic
pythonjsonlogger
bcrypt
sqlalchemy
pymysql
